.choice:hover{
    cursor: default;
}
header{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
main{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.choice{
    background-color: rgb(174, 210, 241);
    height: 50px;
    width: 20%;
    text-align: center;
    padding-top: 25px;
    

}
#score{
    background: #000;
    color: white;  
   height: 30px;
   text-align: center;
    border: solid ;
    border-radius: 2pc;
    padding-top: 15px;

}
